@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-background text-foreground;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

::selection {
  @apply bg-primary-foreground/80 text-primary;
}

@layer base {
  :root {
    --background: 282 20% 95%;
    --foreground: 282 100% 25%;
    --card: 282 20% 95%;
    --card-foreground: 282 100% 25%;
    --popover: 282 20% 95%;
    --popover-foreground: 282 100% 25%;
    --primary: 132 80% 85%;
    --primary-foreground: 132 80% 5%;
    --secondary: 282 30% 85%;
    --secondary-foreground: 282 4% 10%;
    --muted: 282 20% 90%;
    --muted-foreground: 282 5% 30%;
    --accent: 132 35% 85%;
    --accent-foreground: 132 85% 15%;
    --destructive: 0 90% 95%;
    --destructive-foreground: 0 80% 35%;
    --border: 282 80% 35%;
    --input: 282 100% 25%;
    --ring: 282 100% 25%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }

  .dark,
  :root[class~='dark'] {
    --background: 282 5% 7%;
    --foreground: 282 50% 90%;
    --card: 282 5% 7%;
    --card-foreground: 282 50% 90%;
    --popover: 282 5% 7%;
    --popover-foreground: 282 50% 90%;
    --primary: 132 90% 10%;
    --primary-foreground: 132 70% 85%;
    --secondary: 282 20% 20%;
    --secondary-foreground: 282 20% 90%;
    --muted: 282 10% 12%;
    --muted-foreground: 282 10% 80%;
    --accent: 132 35% 20%;
    --accent-foreground: 132 65% 85%;
    --destructive: 0 40% 25%;
    --destructive-foreground: 0 10% 95%;
    --border: 282 50% 85%;
    --input: 282 50% 90%;
    --ring: 282 50% 90%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
