/* https://www.joshwcomeau.com/css/full-bleed/ */
.post-wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(80ch, 100%)
    1fr;
}

.post-wrapper > * {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}
